DEBUG=false
LOG_LEVEL=INFO

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

ALLOWED_HOSTS=["localhost", "127.0.0.1"]
CORS_ORIGINS=["*"]

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=changeme
NEO4J_DATABASE=neo4j

WEAVIATE_HOST=localhost
WEAVIATE_URL=http://localhost:8080
WEAVIATE_GRPC_PORT=50051

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2


LLM_PROVIDER=ollama
LLM_MODEL=gpt-4o-mini
MINI_LLM_MODEL=gpt-4o-mini
LLM_API_KEY=

EMBEDDING_MODEL=text-embedding-3-small
OLLAMA_BASE_URL=http://localhost:11434

LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=1024


API_HMAC_SECRET=your-256-bit-api-hmac-secret

CLOUD_MODE=REAL | MOCK

# Cartography AWS Configuration:
# https://cartography-cncf.github.io/cartography/modules/aws/config.html
AWS_PROFILE_MODE=DEFAULT | MULTI
AWS_REGIONS=Comma separated list of regions

# Cartography Azure Configuration:
# https://cartography-cncf.github.io/cartography/modules/aws/config.html
AZURE_SP_AUTH=True | False
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

AZURE_SUBSCRIPTION_ID=

# Cartography GCP Configuration:
# https://cartography-cncf.github.io/cartography/modules/gcp/config.html
GCP_PROJECT_ID=
